.Game {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__row {
        width: 100%;
        max-width: 1200px;
    }

    &__attributes {
        width: 300px;
    }
}


.attribute {
    &__box {
        display: flex;
        gap: 20px;
    }

    &__name {
        margin-right: auto;
    }

    .attributes {
        padding-left: 20px;
    }

    &__btn {
        width: 25px;
        visibility: hidden;

        &.is-active {
            visibility: visible;
        }

        &.is-disabled {
            visibility: hidden;
        }
    }
}
